/* --------------------------------------------------
   Table of Contents
-----------------------------------------------------
:: Type
:: Global
:: Page Name 2
*/
/* -----------------------------------------
   Type
----------------------------------------- */
@font-face {
  font-family: 'Jocham-Regular';
  src: url("../webfonts/23950A_0_0.eot");
  src: url("../webfonts/23950A_0_0.eot?#iefix") format("embedded-opentype"), url("../webfonts/23950A_0_0.woff") format("woff"), url("../webfonts/23950A_0_0.ttf") format("truetype"); }

/* line 19, app.scss */
body {
  font-family: 'freight-sans-pro', Helvetica, sans-serif; }

/* line 24, app.scss */
h1 {
  font-size: 58px;
  border-bottom: 1px solid #006FBD; }
  /* line 27, app.scss */
  h1 img {
    -webkit-animation: moveDown 0.6s ease-in-out 0.2s backwards;
    -moz-animation: moveDown 0.6s ease-in-out 0.2s backwards;
    -o-animation: moveDown 0.6s ease-in-out 0.2s backwards;
    -ms-animation: moveDown 0.6s ease-in-out 0.2s backwards;
    animation: moveDown 0.6s ease-in-out 0.2s backwards; }

/* line 32, app.scss */
h2 {
  font-size: 94px;
  font-family: 'Jocham-Regular', Helvetica, sans-serif;
  text-transform: lowercase;
  font-weight: normal; }

/* line 39, app.scss */
h3 {
  font-size: 42px;
  /*38px*/ }

/* line 43, app.scss */
h4 {
  font-size: 21px;
  font-weight: 500; }

/* line 48, app.scss */
h5 {
  font-size: 18px; }

/* line 52, app.scss */
p, ul {
  font-size: 20px;
  line-height: 26px;
  margin-bottom: 26px; }

/* line 58, app.scss */
a:link {
  font-weight: 700; }

/* -----------------------------------------
   Global
----------------------------------------- */
/* line 69, app.scss */
.column, .columns {
  /*     -moz-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
         -o-transition: all .2s ease-in-out;
            transition: all .2s ease-in-out;*/ }

/* line 76, app.scss */
.row {
  width: 768px; }

/* line 80, app.scss */
iframe {
  display: none; }

/* line 84, app.scss */
.clear {
  clear: both; }

/* line 88, app.scss */
.hide {
  display: none; }

/* -----------------------------------------
   Sections
----------------------------------------- */
/* line 95, app.scss */
header {
  background: url(../images/top_bg.png) #0f66a2 no-repeat fixed;
  background-position: center 100px;
  padding: 240px 0 0px;
  text-align: center;
  color: #5ab2f0;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.05); }
  /* line 102, app.scss */
  header h4 {
    margin-bottom: 28px; }
  /* line 105, app.scss */
  header .button {
    box-shadow: 0 2px 0px rgba(0, 0, 0, 0.05), inset 0 1px 0 rgba(255, 255, 255, 0.25);
    -webkit-box-shadow: 0 2px 0px rgba(0, 0, 0, 0.05), inset 0 1px 0 rgba(255, 255, 255, 0.25);
    -moz-box-shadow: 0 2px 0px rgba(0, 0, 0, 0.05), inset 0 1px 0 rgba(255, 255, 255, 0.25);
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.1); }
  /* line 111, app.scss */
  header .line {
    height: 400px;
    border-right: 2px dashed #fff;
    border-right: 2px dashed rgba(0, 0, 0, 0.1);
    width: 50%; }

/* line 120, app.scss */
section {
  text-align: center;
  padding: 0px;
  color: #333;
  color: rgba(0, 0, 0, 0.55);
  text-rendering: optimizeLegibility;
  background: url(../images/bg2.png) repeat;
  /*letter-spacing: 0.01em;*/
  /*&:nth-of-type(odd){
  	background: $teal;
  	color: #e3ffff;
  	border-top: 5px solid $darkTeal;
  	h2{
  	  color: $darkTeal;	
  	}
  	.togglebox{
  		background: $darkTeal;
  	}
  }
  &:nth-of-type(even){
  	background: $blue;
  	color: #c7e5fa;
  	border-top: 5px solid $darkBlue;
  	h2{
  	  color: $darkBlue;
  	}
  	.togglebox{
  		background: $darkBlue;
  	}
  }*/ }
  /* line 128, app.scss */
  section:nth-of-type(odd) {
    background: url(../images/bg1.png) repeat; }
  /* line 131, app.scss */
  section:nth-of-type(even) {
    background: url(../images/bg2.png) repeat; }
  /* line 134, app.scss */
  section .description {
    color: rgba(0, 0, 0, 0.45); }
  /* line 137, app.scss */
  section .line {
    height: 219px;
    border-right: 2px dashed #fff;
    border-right: 2px dashed rgba(0, 0, 0, 0.2);
    width: 50%; }
  /* line 143, app.scss */
  section .t {
    height: 40px;
    border-right: 2px dashed #fff;
    border-right: 2px dashed rgba(0, 0, 0, 0.2);
    width: 50%; }
  /* line 149, app.scss */
  section h2 {
    border-top: 2px dashed #fff;
    border-top: 2px dashed rgba(0, 0, 0, 0.2);
    padding: 5px 0 15px;
    display: inline-block;
    margin-top: 0; }
  /* line 178, app.scss */
  section#files {
    /*background: $teal;
    border-top: 5px solid $darkTeal;*/
    /*box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.1);
    border-top: 1px solid #fff;*/ }
    /* line 185, app.scss */
    section#files h2, section#files h3 {
      color: #34aab7; }
    /* line 188, app.scss */
    section#files .line, section#files .t, section#files h2, section#files .takeaway {
      border-color: rgba(52, 170, 183, 0.5); }
    /* line 191, app.scss */
    section#files .takeaway {
      color: rgba(52, 170, 183, 0.23); }
    /* line 194, app.scss */
    section#files .togglebox {
      background: #34aab7; }
      /* line 196, app.scss */
      section#files .togglebox:after {
        border-bottom-color: #34aab7; }
  /* line 201, app.scss */
  section#layers {
    /*background: $purple;
    border-top: 5px solid $darkPurple;*/ }
    /* line 204, app.scss */
    section#layers h2, section#layers h3 {
      color: #7554a8; }
    /* line 207, app.scss */
    section#layers .line, section#layers .t, section#layers h2, section#layers .takeaway {
      border-color: rgba(117, 84, 168, 0.5); }
    /* line 210, app.scss */
    section#layers .takeaway {
      color: rgba(117, 84, 168, 0.23); }
    /* line 213, app.scss */
    section#layers .togglebox {
      background: #7554a8; }
      /* line 215, app.scss */
      section#layers .togglebox:after {
        border-bottom-color: #7554a8; }
  /* line 220, app.scss */
  section#images {
    /*background: $red;
    border-top: 5px solid $darkRed;*/ }
    /* line 223, app.scss */
    section#images h2, section#images h3 {
      color: #ac5048; }
    /* line 226, app.scss */
    section#images .line, section#images .t, section#images h2, section#images .takeaway {
      border-color: rgba(172, 80, 72, 0.5); }
    /* line 229, app.scss */
    section#images .takeaway {
      color: rgba(172, 80, 72, 0.23); }
    /* line 232, app.scss */
    section#images .togglebox {
      background: #ac5048; }
      /* line 234, app.scss */
      section#images .togglebox:after {
        border-bottom-color: #ac5048; }
  /* line 239, app.scss */
  section#type {
    /*background: $indigo;
    border-top: 5px solid $darkIndigo;*/ }
    /* line 242, app.scss */
    section#type h2, section#type h3 {
      color: #4d6cb8; }
    /* line 245, app.scss */
    section#type .line, section#type .t, section#type h2, section#type .takeaway {
      border-color: rgba(77, 108, 184, 0.5); }
    /* line 248, app.scss */
    section#type .takeaway {
      color: rgba(77, 108, 184, 0.23); }
    /* line 251, app.scss */
    section#type .togglebox {
      background: #4d6cb8; }
      /* line 253, app.scss */
      section#type .togglebox:after {
        border-bottom-color: #4d6cb8; }
  /* line 258, app.scss */
  section#effects {
    /*background: $green;
    border-top: 5px solid $darkGreen;*/ }
    /* line 261, app.scss */
    section#effects h2, section#effects h3 {
      color: #48a473; }
    /* line 264, app.scss */
    section#effects .line, section#effects .t, section#effects h2, section#effects .takeaway {
      border-color: rgba(72, 164, 115, 0.5); }
    /* line 267, app.scss */
    section#effects .takeaway {
      color: rgba(72, 164, 115, 0.23); }
    /* line 270, app.scss */
    section#effects .togglebox {
      background: #48a473; }
      /* line 272, app.scss */
      section#effects .togglebox:after {
        border-bottom-color: #48a473; }
  /* line 277, app.scss */
  section#practices {
    /*background: $orange;
    border-top: 5px solid $darkOrange;*/ }
    /* line 280, app.scss */
    section#practices h2, section#practices h3 {
      color: #c88d4c; }
    /* line 283, app.scss */
    section#practices .line, section#practices .t, section#practices h2, section#practices .takeaway {
      border-color: rgba(200, 141, 76, 0.5); }
    /* line 286, app.scss */
    section#practices .takeaway {
      color: rgba(200, 141, 76, 0.23); }
    /* line 289, app.scss */
    section#practices .togglebox {
      background: #c88d4c; }
      /* line 291, app.scss */
      section#practices .togglebox:after {
        border-bottom-color: #c88d4c; }
  /* line 296, app.scss */
  section#qa {
    /*background: $slate;
    border-top: 5px solid $darkSlate;*/ }
    /* line 299, app.scss */
    section#qa h2, section#qa h3 {
      color: #5371ad; }
    /* line 302, app.scss */
    section#qa .line, section#qa .t, section#qa h2, section#qa .takeaway {
      border-color: rgba(83, 113, 173, 0.5); }
    /* line 305, app.scss */
    section#qa .takeaway {
      color: rgba(83, 113, 173, 0.23); }
    /* line 308, app.scss */
    section#qa .togglebox {
      background: #5371ad; }
      /* line 310, app.scss */
      section#qa .togglebox:after {
        border-bottom-color: #5371ad; }
  /* line 315, app.scss */
  section#exporting {
    /*background: $plum;
    border-top: 5px solid $darkPlum;*/ }
    /* line 318, app.scss */
    section#exporting h2, section#exporting h3 {
      color: #6860c9; }
    /* line 321, app.scss */
    section#exporting .line, section#exporting .t, section#exporting h2, section#exporting .takeaway {
      border-color: rgba(104, 96, 201, 0.5); }
    /* line 324, app.scss */
    section#exporting .takeaway {
      color: rgba(104, 96, 201, 0.23); }
    /* line 327, app.scss */
    section#exporting .togglebox {
      background: #6860c9; }
      /* line 329, app.scss */
      section#exporting .togglebox:after {
        border-bottom-color: #6860c9; }
  /* line 334, app.scss */
  section#about {
    /*background: $gray;
    border-top: 5px solid $darkGray;*/ }
    /* line 337, app.scss */
    section#about h2, section#about h3 {
      color: #4c4f59;
      padding-bottom: 30px; }
    /* line 341, app.scss */
    section#about p {
      text-align: left; }

/*aside{
	background: #0D5B91;
	padding: 40px 0 80px;
	#carbonads-container{
		width: 50%;
		margin: 0 auto;
	}
	.carbonad{
		background-image: none;
		background: none;
		border: none;
		width: auto;
	}
	span.carbonad-image{
		width: 40%;
		display: block;
		float: left;
		img{
			float:right;
		}
	}
	.carbonad-text{
		font-size: 12px;
		text-align: left;
		width: 55%;
		display: block;
		color: #5ab2f0;
		a, a:visited{
			color: #b7def8;
		}
	}
	.carbonad-tag{
		font-size: 10px;
		width: auto;
		color: #0a4772;
		a, a:visited{
		  color: #0a4772;
		}
	}
}*/
/* line 390, app.scss */
footer {
  padding: 0px 0 120px;
  text-align: center;
  background: #55a1d6;
  color: #0f66a2; }
  /* line 395, app.scss */
  footer .line {
    height: 219px;
    border-right: 2px dashed rgba(15, 102, 162, 0.5);
    width: 50%; }
  /* line 400, app.scss */
  footer .t {
    height: 40px;
    border-right: 2px dashed rgba(15, 102, 162, 0.5);
    width: 50%; }
  /* line 405, app.scss */
  footer a, footer a:visited {
    color: #0f66a2; }
    /* line 407, app.scss */
    footer a:hover, footer a:visited:hover {
      color: #fff; }
  /* line 411, app.scss */
  footer h2 {
    border-top: 2px dashed rgba(15, 102, 162, 0.5);
    padding: 5px 0 15px;
    display: inline-block;
    margin-top: 0; }
  /* line 417, app.scss */
  footer p {
    text-align: left; }

/* line 422, app.scss */
.promo {
  background: #4799d3;
  color: #d0e5f4;
  padding: 40px 0;
  text-align: center; }
  /* line 427, app.scss */
  .promo img {
    width: 50%; }
  /* line 430, app.scss */
  .promo p {
    margin-bottom: 0;
    text-align: center; }
  /* line 434, app.scss */
  .promo .button {
    margin-top: 20px; }

/* line 439, app.scss */
.events {
  background: #4799d3;
  color: #d0e5f4;
  padding: 40px 0;
  text-align: center; }
  /* line 444, app.scss */
  .events h4 {
    font-size: 28px;
    font-weight: bold; }
  /* line 448, app.scss */
  .events .event {
    padding: 10px; }
    /* line 450, app.scss */
    .events .event:first-of-type {
      opacity: 0.3; }
    /* line 453, app.scss */
    .events .event:nth-of-type(2) {
      opacity: 0.2; }
    /* line 456, app.scss */
    .events .event:last-of-type {
      opacity: 0.1; }
  /* line 460, app.scss */
  .events p {
    text-transform: uppercase;
    font-size: 14px; }

/* line 466, app.scss */
.disclaimer {
  background: #fbfbfb;
  color: #55a1d6;
  padding: 20px 0 100px; }
  /* line 470, app.scss */
  .disclaimer p {
    font-size: 14px;
    margin-bottom: 0;
    text-align: center; }

/* -----------------------------------------
   Elements
----------------------------------------- */
/* line 481, app.scss */
#tee {
  padding-bottom: 40px; }
  /* line 483, app.scss */
  #tee h1 {
    border-bottom: none;
    color: #0061A6; }
  /* line 487, app.scss */
  #tee h4 {
    text-transform: uppercase; }

/* line 492, app.scss */
#ad {
  position: fixed;
  width: 100%;
  z-index: 9999;
  bottom: 0;
  display: none;
  background: url(../images/grey.png) repeat;
  /*rgba($white, 0.94)*/
  border-top: 5px solid #D3D3D3;
  padding: 10px 0 0;
  border-bottom: none; }
  /* line 502, app.scss */
  #ad .ad_logo {
    float: left;
    background: url(../images/invision.png) no-repeat top center;
    width: 117px;
    height: 41px; }
  /* line 508, app.scss */
  #ad p, #ad .sponsored {
    font-size: 15px;
    font-style: normal;
    display: block;
    font-family: "freight-sans-pro", sans-serif;
    color: #579205;
    font-weight: 500; }
    /* line 515, app.scss */
    #ad p.tagline, #ad .sponsored.tagline {
      float: left;
      margin: 12px 0px 10px 20px; }
  /* line 520, app.scss */
  #ad .sponsored {
    display: none; }
  /* line 523, app.scss */
  #ad h5 {
    color: #4E9A10; }
  /* line 526, app.scss */
  #ad .ad_toggle {
    display: inline-block;
    background: rgba(43, 120, 4, 0.5);
    margin-left: 10px; }
    /* line 530, app.scss */
    #ad .ad_toggle:hover {
      background: rgba(43, 120, 4, 0.75); }
  /* line 534, app.scss */
  #ad .ad_toggle::after {
    content: 'More'; }
  /* line 537, app.scss */
  #ad .ad_toggle.active::after {
    content: 'Less'; }
  /* line 540, app.scss */
  #ad .close {
    position: absolute;
    right: 0px;
    top: -6px;
    background: #D3D3D3;
    border-radius: 300px;
    background: url(../images/ad_close.png) no-repeat;
    height: 16px;
    width: 16px;
    opacity: 0.7; }
    /* line 550, app.scss */
    #ad .close:hover {
      opacity: 1.0; }
    /* line 553, app.scss */
    #ad .close.active {
      display: none !important; }
  /* line 558, app.scss */
  #ad .endorsement {
    clear: both;
    border-top: 1px solid #e1e1e1;
    background: #343434; }
    /* line 562, app.scss */
    #ad .endorsement p {
      color: rgba(255, 255, 255, 0.8);
      font-family: "proxima-nova", sans-serif; }
    /* line 567, app.scss */
    #ad .endorsement .cta p {
      float: left;
      width: 70%;
      font-weight: 700;
      font-family: "proxima-nova", sans-serif; }
    /* line 573, app.scss */
    #ad .endorsement .cta .button {
      margin-left: 20px; }

/* line 582, app.scss */
nav {
  background: url(../images/nav_waves.png) repeat-x bottom;
  position: fixed;
  width: 100%;
  z-index: 9999;
  padding-bottom: 10px; }
  /* line 588, app.scss */
  nav ul {
    margin: 5px 0 8px 0; }
    /* line 590, app.scss */
    nav ul li {
      display: inline;
      list-style-type: none;
      font-size: 13px;
      font-family: "proxima-nova", Helvetica, sans-serif;
      padding: 0 15px 0 0; }
      /* line 596, app.scss */
      nav ul li a:link, nav ul li a:visited {
        color: #626672;
        font-weight: normal; }
      /* line 600, app.scss */
      nav ul li a:hover {
        color: #34aab7; }
      /* line 603, app.scss */
      nav ul li.active a, nav ul li.active a:visited {
        color: #0f66a2;
        padding-top: 10px;
        border-top: 3px solid #0f66a2; }
        /* line 607, app.scss */
        nav ul li.active a div, nav ul li.active a:visited div {
          background-position: center -29px;
          cursor: pointer; }
  /* line 614, app.scss */
  nav .left {
    width: 80%; }
  /* line 617, app.scss */
  nav .top {
    background: url(../images/logo_sm.png) no-repeat;
    background-position: top center;
    height: 28px;
    width: 35px;
    float: left;
    margin: 0px 10px 0 0; }
    /* line 624, app.scss */
    nav .top:hover {
      background-position: center -29px;
      cursor: pointer; }
  /* line 629, app.scss */
  nav select {
    display: none;
    border: none;
    background: url(../images/section_arrow.png) no-repeat;
    background-position-x: 105px;
    background-position-y: 6px;
    font-family: "freight-sans-pro", Helvetica, sans-serif;
    -webkit-appearance: none;
    color: #0f66a2;
    margin: 11px 0 0 !important;
    font-size: 15px;
    padding-right: 40px; }
    /* line 641, app.scss */
    nav select:focus {
      outline: none; }
    /* line 644, app.scss */
    nav select:hover {
      cursor: pointer; }
  /* line 648, app.scss */
  nav .translate select {
    display: inline-block;
    background: url(../images/language_arrow.png) no-repeat;
    background-position-x: 95px;
    background-position-y: 6px;
    padding-right: 0px; }
  /* line 655, app.scss */
  nav h5 {
    color: white; }

/* line 660, app.scss */
#translate {
  padding: 53px 0 5px;
  height: 84px; }

/* line 665, app.scss */
.icon {
  margin: -5px 0;
  clear: both;
  /*padding-top: 100px;*/ }

/* line 671, app.scss */
.description {
  padding: 0 0 40px 0; }

/* line 675, app.scss */
.guideline {
  text-align: left;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  clear: both;
  /*&:nth-of-type(5){
    border-bottom: none;
  }*/ }
  /* line 682, app.scss */
  .guideline h3 {
    padding: 0;
    margin-bottom: 0px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    /*text-shadow: 0 2px 1px rgba(0,0,0,0.2);*/ }
    /* line 693, app.scss */
    .guideline h3 span {
      display: inline-block;
      margin-left: 30px; }
    /* line 698, app.scss */
    .guideline h3 span.toggle {
      background: url(../images/guideline_toggle.png) no-repeat;
      height: 16px;
      width: 16px;
      -webkit-transition: all 0.2s ease-in-out;
      -moz-transition: all 0.2s ease-in-out;
      -ms-transition: all 0.2s ease-in-out;
      -o-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out;
      margin: 16px 10px 0 5px;
      opacity: 0.7;
      position: absolute;
      margin-top: 18px;
      margin-left: 5px;
      text-shadow: none; }
    /* line 710, app.scss */
    .guideline h3.active {
      color: rgba(0, 0, 0, 0.2);
      text-shadow: none; }
      /* line 713, app.scss */
      .guideline h3.active span.toggle {
        -moz-transform: rotate(135deg);
        -webkit-transform: rotate(135deg);
        -o-transform: rotate(135deg);
        -ms-transform: rotate(135deg);
        transform: rotate(135deg);
        opacity: 1.0; }
    /* line 722, app.scss */
    .guideline h3:hover {
      cursor: pointer;
      color: white;
      -webkit-transition: all 0.2s ease-in-out;
      -moz-transition: all 0.2s ease-in-out;
      -ms-transition: all 0.2s ease-in-out;
      -o-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out; }
      /* line 726, app.scss */
      .guideline h3:hover span {
        opacity: 0.7; }
  /* line 731, app.scss */
  .guideline p {
    margin-left: 5px;
    /*&:first-of-type{
    	clear: both;
    }*/ }

/* line 741, app.scss */
.togglebox {
  padding: 20px 20px 20px 35px;
  margin-bottom: 20px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.1);
  position: relative;
  overflow: visible !important;
  color: #fff;
  /*&::before{
  	content: url(../images/togglebox_arrow.png);
  	position: absolute;
  	top: -60px;
  	left: 0;
  	width: 155px;
  	height: 36px;
  	display: block;
  }*/ }
  /* line 758, app.scss */
  .togglebox::after {
    content: "";
    position: absolute;
    top: -30px;
    left: 30px;
    border: 15px solid transparent;
    border-bottom-color: rgba(0, 0, 0, 0.1);
    display: block;
    width: 0; }
  /* line 768, app.scss */
  .togglebox h5 {
    margin: 15px 0;
    padding: 0px;
    font-family: "proxima-nova", arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px; }
  /* line 776, app.scss */
  .togglebox ul {
    clear: both;
    padding-top: 15px;
    margin: 15px 15px 0 0;
    border-top: 1px solid rgba(255, 255, 255, 0.25); }
    /* line 781, app.scss */
    .togglebox ul li {
      line-height: 15px;
      display: block;
      padding-bottom: 15px; }
  /* line 787, app.scss */
  .togglebox p {
    margin: 0 0 0px 0px;
    padding: 0 0 15px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
    text-shadow: none; }
  /* line 793, app.scss */
  .togglebox .six {
    padding-left: 0; }
  /* line 796, app.scss */
  .togglebox .row {
    margin: 0; }
  /* line 799, app.scss */
  .togglebox img {
    border: 1px solid rgba(255, 255, 255, 0.2); }
  /* line 802, app.scss */
  .togglebox a, .togglebox a:visited {
    color: rgba(255, 255, 255, 0.8); }
    /* line 804, app.scss */
    .togglebox a:hover, .togglebox a:visited:hover {
      color: white; }

/* line 811, app.scss */
.retweetRule {
  margin: 4px 0px 0 0;
  color: rgba(0, 0, 0, 0.25);
  text-shadow: none; }
  /* line 815, app.scss */
  .retweetRule:hover {
    opacity: 1.0;
    color: #fff !important;
    text-shadow: 0 2px 1px rgba(0, 0, 0, 0.2); }
  /* line 820, app.scss */
  .retweetRule span:first-of-type {
    display: block;
    float: left;
    margin: 2px 10px 30px 0;
    font-size: 16px;
    opacity: 0.7; }
    /* line 826, app.scss */
    .retweetRule span:first-of-type:hover {
      opacity: 1.0; }

/* line 832, app.scss */
.takeaway {
  padding: 40px 0;
  border-bottom: 2px dashed #fff;
  border-bottom: 2px dashed black;
  display: inline-block;
  color: #fff;
  color: rgba(46, 43, 39, 0.13); }
  /* line 839, app.scss */
  .takeaway p {
    font-style: italic;
    padding-bottom: 0;
    margin-bottom: 0;
    font-family: "omnes-pro", sans-serif;
    font-weight: 700;
    font-size: 28px; }
  /* line 847, app.scss */
  .takeaway span {
    display: block;
    text-transform: uppercase;
    font-weight: bold;
    font-style: normal;
    font-family: "proxima-nova", sans-serif;
    letter-spacing: 0.25em;
    font-size: 17px; }

/* line 861, app.scss */
p img {
  margin: 0; }

/* line 865, app.scss */
.borderless {
  border: none !important; }

/* line 869, app.scss */
.social {
  width: 100px;
  margin: 0 auto;
  padding-left: 25px; }

/* line 875, app.scss */
.social form {
  float: left;
  display: block;
  margin-bottom: 0; }

/* line 881, app.scss */
.faux_btn {
  position: absolute;
  cursor: pointer;
  height: 20px;
  width: 20px;
  background: transparent !important; }

/* line 889, app.scss */
.social a {
  float: left;
  margin-right: 5px;
  font-size: 20px; }

/* line 895, app.scss */
.paypal {
  font-size: 20px;
  margin-left: -5px;
  color: #2BA6CB !important; }

/* line 901, app.scss */
.disclaimer p {
  clear: both; }

/* -----------------------------------------
   Form Elements
----------------------------------------- */
/* line 910, app.scss */
label {
  display: none; }

/* line 914, app.scss */
form li {
  list-style-type: none; }

/* line 918, app.scss */
textarea {
  min-height: 300px; }

/* line 922, app.scss */
input[type="text"], input[type="email"], textarea {
  -webkit-appearance: none;
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background: #0f66a2;
  color: white !important;
  font-family: "freight-sans-pro", Helvetica, sans-serif;
  font-size: 16px; }
  /* line 930, app.scss */
  input[type="text"]:focus, input[type="email"]:focus, textarea:focus {
    background: #127ac1; }

/* line 935, app.scss */
.goog-logo-link {
  display: none; }

/* line 939, app.scss */
.goog-te-gadget {
  color: transparent !important; }

/* line 943, app.scss */
select.goog-te-combo {
  border: none;
  background: url(../images/language_arrow.png) no-repeat;
  background-position-x: 90px;
  background-position-y: 6px;
  font-family: "freight-sans-pro", Helvetica, sans-serif;
  -webkit-appearance: none;
  color: #34aab7;
  margin: 11px 0 0 !important; }
  /* line 952, app.scss */
  select.goog-te-combo:focus {
    outline: none; }

/* -----------------------------------------
   UI Elements
----------------------------------------- */
/* line 960, app.scss */
a:link.teal.button {
  background: #34aab7 !important;
  font-weight: 500; }
  /* line 963, app.scss */
  a:link.teal.button:hover {
    background: #51c1cd !important; }

/* line 968, app.scss */
.button {
  -webkit-border-radius: 3000px;
  -moz-border-radius: 3000px;
  border-radius: 3000px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  font-family: "proxima-nova", Helvetica, sans-serif;
  background: #34aab7;
  border: none; }

/* line 976, app.scss */
input[type="submit"], .promo .button {
  background: #b7def8;
  border: none;
  color: #0f66a2; }
  /* line 980, app.scss */
  input[type="submit"]:hover, .promo .button:hover {
    background: white;
    color: #0f66a2; }

/* line 986, app.scss */
::-webkit-input-placeholder {
  color: #55a1d6; }

/* line 990, app.scss */
:-moz-placeholder {
  color: #55a1d6; }

/* -----------------------------------------
   Media Queries
----------------------------------------- */
@media (max-width: 767px) {
  /* line 1000, app.scss */
  aside #carbonads-container {
    width: 70%; }

  /* line 1004, app.scss */
  .button {
    display: inline-block; }

  /* line 1008, app.scss */
  h1 img {
    width: 65%; }

  /* line 1012, app.scss */
  header {
    padding: 120px 0; } }
@media (max-width: 648px) {
  /* line 1016, app.scss */
  nav ul {
    display: none; }

  /* line 1017, app.scss */
  nav select {
    display: inline-block;
    width: auto; }

  /* line 1018, app.scss */
  nav .left {
    width: auto; }

  /* line 1021, app.scss */
  .logo_sm {
    display: none; }

  /* line 1022, app.scss */
  header {
    padding: 80px 0 0; }

  /* line 1023, app.scss */
  h2 {
    font-size: 62px; }

  /* line 1026, app.scss */
  h3 {
    font-size: 30px; }

  /* line 1029, app.scss */
  p {
    font-size: 16px;
    line-height: 21px; }

  /* line 1033, app.scss */
  .guideline h3 {
    background-position-y: 3px;
    margin-bottom: 10px; }
    /* line 1036, app.scss */
    .guideline h3.active {
      background-position-y: -168px; }

  /* line 1040, app.scss */
  aside #carbonads-container {
    width: 100%; }

  /* line 1043, app.scss */
  h1 img {
    width: 100%; }

  /* line 1047, app.scss */
  #ad p.tagline {
    display: none; }

  /* line 1051, app.scss */
  #ad .sponsored {
    display: inline-block;
    text-align: center;
    padding: 0 12px 10px 0; }

  /* line 1057, app.scss */
  #ad .ad_logo {
    text-align: center;
    float: none;
    display: inline-block; }

  /* line 1063, app.scss */
  #ad .twelve.columns {
    text-align: center; }

  /* line 1067, app.scss */
  .guideline h3 span.toggle {
    margin-top: 10px; }

  /* line 1071, app.scss */
  header .line, section .line, footer .line {
    height: 100px; } }
@media all and (-webkit-min-device-pixel-ratio: 1.5) {
  /* line 1078, app.scss */
  header {
    background-image: url(../images/top_bg@2x.png);
    background-size: 780px 619px; }

  /* line 1083, app.scss */
  section:nth-of-type(odd) {
    background: url(../images/bg1@2x.png) repeat;
    background-size: 310px 310px; }

  /* line 1087, app.scss */
  section:nth-of-type(even) {
    background: url(../images/bg2@2x.png) repeat;
    background-size: 310px 310px; }

  /* line 1092, app.scss */
  nav {
    background: url(../images/nav_waves@2x.png) transparent repeat-x bottom;
    background-size: 20px 100px;
    border: none;
    -webkit-appearance: none; }
    /* line 1097, app.scss */
    nav .top {
      background: url(../images/logo_sm@2x.png) no-repeat top center;
      background-size: 30px 60px; }
      /* line 1100, app.scss */
      nav .top:hover {
        background-position-y: -59px;
        cursor: pointer; }

  /* line 1107, app.scss */
  .guideline h3 span.toggle {
    background: url(../images/guideline_toggle@2x.png) no-repeat;
    background-size: 16px 16px; }
    /* line 1110, app.scss */
    .guideline h3 span.toggle.active {
      background-position-y: -168px; }

  /* line 1115, app.scss */
  #ad {
    background: url(../images/grey.png) repeat; }

  /* line 1119, app.scss */
  #ad .ad_logo {
    background: url(../images/invision@2x.png) no-repeat top center;
    background-size: 117px 41px; }

  /* line 1124, app.scss */
  #ad .close {
    background: url(../images/ad_close@2x.png) no-repeat;
    background-size: 16px 16px; } }
@-moz-document url-prefix() {
  /* line 1137, app.scss */
  #navbar select {
    background: none !important; }

  /* line 1141, app.scss */
  #navbar .right {
    display: none; } }

/* I <3 IE */
/* line 1149, app.scss */
.lt-ie10 #navbar select {
  background: none !important; }

/* line 1153, app.scss */
.lt-ie9 .takeaway {
  border-bottom: 2px dashed #fff !important; }

/* line 1157, app.scss */
.lt-ie8 .line, .lt-ie8 .t {
  display: none !important; }
